<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Главная страница банка</title>
</head>
<body>
    <h1>Добро пожаловать в наш банк!</h1>
    <form action="/create_account" method="post">
        <label for="username">Имя пользователя:</label><br>
        <input type="text" id="username" name="username" required><br>
        <label for="password">Пароль:</label><br>
        <input type="password" id="password" name="password" required><br>
        <input type="submit" value="Создать аккаунт">
    </form>
</body>
</html>
