<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>{{ username }} - Персональная страница</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container mt-5">
        <h1 class="mb-4">Добро пожаловать, {{ username }}!</h1>
        <div class="mb-3">
            <a href="/create_bill" class="btn btn-info">Создать счет</a>
        </div>
        <div class="mb-3">
            <a href="/deposit" class="btn btn-info">Пополнить баланс</a>
        </div>
        <div class="mb-3">
            <a href="/transfer" class="btn btn-info">Перевести деньги</a>
        </div>
        <!-- Дополнительные действия и информация о пользователе -->
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>
