<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Контакты</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <style>
        body {
            padding-top: 56px;
        }
        .navbar-custom {
            background-color: #08283d;
        }
        .navbar-custom .navbar-brand,
        .navbar-custom .nav-link {
            color: #ffffff;
        }
        .navbar-custom .nav-link {
            margin-right: 1rem;
        }
        .navbar-custom .nav-link:hover {
            color: #cccccc;
        }
    </style>
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-custom fixed-top">
    <a class="navbar-brand" href="/">
        <img src="{{ url_for('static', filename='logo.jpeg') }}" alt="Bank Logo" height="30">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/">Главная</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/about">О нас</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/customs">Услуги</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/contacts">Контакты <span class="sr-only">(current)</span></a>
            </li>
        </ul>
    </div>
</nav>

<div class="container mt-5 pt-5">
    <h1 class="text-center mb-4">Контакты</h1>
    <p>Для связи с нами, пожалуйста, используйте следующие контактные данные:</p>
    <ul>
        <li><a href="https://t.me/dimasshitposts" target="_blank">Psycho CEO</a></li>
        <li>Телефон: 911</li>
        <li>Электронная почта: melstroy_milliard!_idi_na**y_spasibozashtori@gmail.com</li>
        <li>Адрес: ул. Первомайская, д. 30к7, г. Долгопрудный</li>
    </ul>
</div>


<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>
